<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
	<extensions>
		<add assembly="NLog.WindowsEventLog"/>
	</extensions>

	<variable name="appName" value="wc3-fate-west-utilities" />

	<targets async="true">
		<target name="logfile" xsi:type="File" fileName="/root/Log/Def.log" />
		<target xsi:type="File"
				name="default"
				layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				fileName="${specialfolder:ApplicationData}\${appName}\Debug.log"
				keepFileOpen="false"
				archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />	
		<target name="console" xsi:type="ColoredConsole" layout="${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
	</targets>
	<rules>
		<logger name="*" writeTo="console" minlevel="Info" />
		<logger name="*" writeTo="default" minlevel="Debug" />
		<logger name="*" writeTo="logfile" minlevel="Info" />
	</rules>
</nlog>
