<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fate West</title>
    @RenderSection("Style", false)
    @RenderSection("JavaScript", required: false)
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/boostrap.css" />
    </environment>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>© 2021 - Space Dude</div>
</body>
</html>